<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <style>
    html, body {
      height: 97%;
      display: flex; 
      flex-direction: column; 
      justify-content: space-between;
      font-family: Arial, Helvetica, sans-serif; 
      color: #111;
    }
    .grid1 { display:grid; gap: 6px; margin: 6px 0; }
    .grid2 { display:grid; grid-template-columns: 1fr 1fr; gap: 6px 22px;}
    .kv { display: grid; grid-template-columns: 1fr 1fr; }
    .kv .k { font-size: 12px; color:#111; white-space: nowrap; font-weight: 700; }
    .kv2 { display: grid; grid-template-columns: 1fr 3fr; }
    .kv2 .k { font-size: 12px; color:#111; white-space: nowrap; font-weight: 700; }
    .data { font-size: 12px; width:100%; padding-left: 6px; }
    .quantity-section { width: 300px; display: flex; font-size: 12px; color: #111; white-space: nowrap; padding-top: 12px; }
    .remarks-section { width: 300px; display: flex; font-size: 12px; color: #111; white-space: nowrap; padding: 10px 0; border-bottom: 1px solid #ddd; }
    .quantity-section .quantity { font-weight: 700; }
    .quantity-section .data,
    .remarks-section .data { flex: 1; text-align: center; }

    table { width:100%; border-collapse:collapse; margin-top: 12px; }
    th, td { border: 1px solid black; padding: 8px; }
    th { text-align: start; font-size: 12px }
    td { font-size:12px }
  </style>
</head>
<body>
    <div>
        <div class="grid2" style="margin-top: -10px;">
            <div class="kv">
                <div class="k">Client:</div><div class="data">{{client}}</div>
            </div>
            <div class="kv">
                <div class="k">Date:</div><div class="data">{{date}}</div>
            </div>
            <div class="kv">
                <div class="k">Serial No.</div><div class="data">{{serialNo}}</div>
            </div>
            <div class="kv">
                <div class="k">Transaction File:</div><div class="data">{{transactionFile}}</div>
            </div>
            <div class="kv">
                <div class="k">Supplier:</div><div class="data">{{supplier}}</div>
            </div>
            <div class="kv">
                <div class="k">Delivery Plate #:</div><div class="data">{{deliveryPlateNumber}}</div>
            </div>
            <div class="kv">
                <div class="k">Truck Type:</div><div class="data">{{truckType}}</div>
            </div>
            <div class="kv">
                <div class="k">Date of Arrival #:</div><div class="data">{{dateOfArrival}}</div>
            </div>
            <div class="kv">
                <div class="k">Warehouse Activity:</div><div class="data">{{billingReference}}</div>
            </div>
            <div class="kv">
                <div class="k">Pallet No:</div><div class="data">{{palletNo}}</div>
            </div>
        </div>
        <div class="grid1">
            <div class="kv2">
                <div class="k">Customer Reference:</div><div class="data">{{customerReference}}</div>
            </div>
            <div class="kv2">
                <div class="k">Remarks:</div><div class="data">{{remarks}}</div>
            </div>
        </div>
    
      <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Lot/Batch No.</th>
                <th>Serial No.</th>
                <th>Expiration Date</th>
                <th>Location</th>
                <th>Remarks/Reference</th>
            </tr>
        </thead>
        <tbody>
            {{#pickingListsItems}}
            <tr>
                <td>{{itemCode}}</td>
                <td>{{itemName}}</td>
                <td>{{quantity}}</td>
                <td>{{uQ}}</td>
                <td>{{batchNo}}</td>
                <td>{{serialNo}}</td>
                <td>{{displayExpiry}}</td>
                <td>{{location}}</td>
                <td>{{remarks}}</td>
            </tr>
            {{/pickingListsItems}}
        </tbody>
      </table>

        <div class="quantity-section">
            <div class="quantity">Total Quantity: </div>
            <div class="data">{{totalQuantity}}</div>
        </div>
        <div class="quantity-section">
            <div class="remarks">Billing Reference: </div>
            <div class="data">{{billingReference}}</div>
        </div>

    </div>
</body>
</html>