<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <style>
    @page { size: A4; margin: 2mm 10mm 27mm 10mm; }
    .logo {
    width: 180px;
    z-index: 10;
    display: block;
    margin-left: -25px;
    }
    html, body {
      height: 97%;
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
    }

    body > * {
      position: relative;
      z-index: 1;
    }
    .company {
      margin-left: 20px;
      font-size: 11px;
        line-height: 1.25;
        margin-bottom: 6px;
        color: #111;
        display: flex;
        align-items: start;
        position: relative;
        z-index: 2;
    }
    body { font-family: Arial, Helvetica, sans-serif; color: #111; }
    .gatepassID { display: flex; flex-direction: column; align-items: flex-end; font-size: 12px; margin: 10px 0; color: red; font-weight: 700; }
    .pl-header-row { display: flex; align-items: center; justify-content: space-between; margin-bottom: 12px; padding: 6px 0; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }
    .pl-header-title { flex: 1; text-align: center; margin: 0; font-size: 19px; font-weight: 700; }

    .grid1 { display:grid; gap: 6px; margin: 6px 0; }
    .grid2 { display:grid; grid-template-columns: 1fr 1fr; gap: 6px 22px; margin-top: 10px; }
    .kv { display: flex; }
    .kv .k { font-size: 12px; color:#111; white-space: nowrap; font-weight: 700; }
    .data { font-size: 12px; width:100%; padding-left: 6px; }
    .quantity-section { width: 300px; display: flex; font-size: 12px; color: #111; white-space: nowrap; padding-top: 12px; }
    .remarks-section { width: 300px; display: flex; font-size: 12px; color: #111; white-space: nowrap; padding: 10px 0; border-bottom: 1px solid #ddd; }
    .quantity-section .quantity { font-weight: 700; }
    .quantity-section .data,
    .remarks-section .data { flex: 1; text-align: center; }

    table { width:100%; border-collapse:collapse; margin-top: 12px; }
    th, td { border: 1px solid black; padding: 8px; }
    th { text-align: start; font-size: 12px }
    td { font-size:12px }

    /* Signature block styles */
    .signature-row { display:grid; grid-template-columns: 2fr 1fr; gap: 4px 6px; margin-top: 10px; }
    .signature-line {
      border-bottom: 1px solid #111;
      width: 300px;
      height: 32px;
      margin-bottom: 4px;
      margin-left: auto;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
    }
    .box h3,
    .box h4,
    .box h5 {
        margin: 0;
        padding: 0;
    }
    .box h3 {
      font-size: 12px;
      font-weight: 700;
    }
    .box h4 {
      font-size: 12px;
      font-weight: 400;
    }
    .box h5 {
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }
    .gatepass-footer {
      margin-top: 20px;
    }
    .gatepass-footer h6 {
      margin: 4px 0;
      font-size: 10px;
      font-weight: 400;
    }
  </style>
</head>
<body>
    <div>
      <div class="company">
        {{#logoSrc}}
          <img src="{{logoSrc}}" class="logo" />
        {{/logoSrc}}
      </div>
      
      <div class="pl-header-row">
        <div class="pl-header-title">Outgoing Stocks</div>
      </div>

        <div class="grid2">
            <div class="kv">
                <div class="k">Customer:</div><div class="data">{{client}}</div>
            </div>
            <div class="kv">
                <div class="k">Date:</div><div class="data">{{date}}</div>
            </div>
            <div class="kv">
                <div class="k">Picking List #:</div><div class="data">{{pickingListNo}}</div>
            </div>
            <div class="kv">
                <div class="k">Transaction File:</div><div class="data">{{transactionFile}}</div>
            </div>
            <div class="kv">
                <div class="k">Customer Reference:</div><div class="data">{{customerRef}}</div>
            </div>
            <div class="kv">
                <div class="k">Serial No:</div><div class="data">{{serialNumber}}</div>
            </div>
        </div>
        <div class="kv grid1">
            <div class="k">Delivery Site:</div><div class="data">{{deliverySite}}</div>
        </div>
    
      <table>
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Lot/Batch No.</th>
                <th>Serial No.</th>
                <th>Expiration Date</th>
                <th>Location</th>
                <th>Remarks/Reference</th>
            </tr>
        </thead>
        <tbody>
            {{#pickingListsItems}}
            <tr>
                <td>{{itemCode}}</td>
                <td>{{itemName}}</td>
                <td>{{quantity}}</td>
                <td>{{uQ}}</td>
                <td>{{batchNo}}</td>
                <td>{{serialNo}}</td>
                <td>{{displayExpiry}}</td>
                <td>{{location}}</td>
                <td>{{remarks}}</td>
            </tr>
            {{/pickingListsItems}}
        </tbody>
      </table>

        <div class="quantity-section">
            <div class="quantity">Total Quantity: </div>
            <div class="data">{{totalQuantity}}</div>
        </div>
        <div class="quantity-section">
            <div class="remarks">Billing Reference: </div>
            <div class="data">{{billingReference}}</div>
        </div>

    </div>
    
</body>
</html>
